body{
    background-color:rgb(255, 249, 213) ;
    margin:0;
}
footer{
    background:black;
    width: 1910px;
    height: 350px;
    
    }

.botaoComprar{
        background-color: rgb(199, 150, 100);
        margin-left: 10px;
        margin-bottom: 10%;
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-family: 'Lato';
        height: 8%;
        width: 22%;
    
    }
.menu{
    display: flex;
  align-items: center;
  background-color: black;
 
}

.HeaderHome{
    display: flex;
    justify-content: space-between;
    color:rgb(239, 226, 149);
   padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;

   
    }
    .HeaderOfertas{
        display: flex;
        justify-content: space-between;
        color:rgb(239, 226, 149);
        padding-top: 15px;
        font-family: 'Courier New', Courier, monospace;
      
   
    }
 .HeaderProdutos{
            display: flex;
            justify-content: space-between;
            color:rgb(239, 226, 149);
            padding-top: 15px;
            font-family: 'Courier New', Courier, monospace;

}
    
.objetos{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);      
    gap: 10px;
    padding: 10px;                  /*espaco entre cards*/  /* display de colunasss*/
}
.card{
    border-radius: 10px;
    margin-left: 100px;
    background-color: rgb(200, 88, 51);
    width: 300px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
        
.img-card{
    height: 200px;
    width:190px ;
    margin-left: 50px;
    padding-top: 10px;
    border-radius: 10px;
  
    
}

.paragrafoitem{
    margin-left: 20px;
    color:black
}
.lifooter1{
    color:rgb(239, 226, 149);
    padding-top: 25px;
    margin-left: 25px;
    padding-top: 12px;
  cursor: pointer;
  list-style-type: none;
}
.lifooter2{
  list-style: none;
  color:rgb(239, 226, 149);
  margin-left: 250px;
  margin-top: -207px;
}

.lifooter3{
list-style: none;
color:rgb(239, 226, 149);
margin-left: 400px;
margin-top: -105px;
}
.footer-abaixamento{
    margin-top:80px ;
}
.headerHeader{
    display: flex;
    gap: 10px;
}
.imgfooter{
    height: 80px;
    width: 100px;
    margin-left: 1700px;
    margin-top: 0px;
}

.homelink{
    text-decoration: none;
    display: flex;
    padding-top: 10px;

}
.ofertaslink{
    text-decoration: none;
    display: flex;
    padding-top: 10px;
}
.produtoslink{
    text-decoration: none;
    display: flex;
    padding-top: 10px;
}
.imgcarousel{
    height: 700px; 
    width: 1200px;
}


/*computador*/
@media screen and (max-width: 1200px){
    .home{
        height: 180px;
        width: 2000px;

    }
    .objetos{
        margin-top:570px ;
    }
    .menu{
        height:180px;
        width: 2000px;
    }
    .footer{
        width: 2000px;
        height: 1000px;
         }

    /*tablets*/
    
}
@media screen and (max-width: 900px){
    .home{
        width: 2000px;
    }
    
    .objetos{
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            margin-left: 500px;                    
    }
    .card{
        margin: 0px;
    }
    .footer{
   width: 2000px;
   height: 1000px;
    }




    /*celular*/

}
@media screen and (max-width: 600px){
    .home{
     width: 830px;
    }
    .menu{
        width: 830px;
    }
   .objetos{
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    margin-left:260px ;
    }
    .footer{
        width: 830px;
    }

    .imgfooter{
        margin-left:600px;
    }
}